<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Note</title>
</head>

<body>

    <h1>Upload Note</h1>

    <form method="POST">

        <input type="text" name="title" placeholder="Title" required>

        <textarea name="description" placeholder="Description" required></textarea>

        <input type="url" name="file_url" placeholder="File URL" required>

        <button type="submit">
            Upload Note
        </button>

    </form>

    <hr>

    <a href="{{ url_for('auth.dashboard') }}">Back to dashboard</a>

</body>

</html>
